# -----------------------------------------------------------------------------
# SYSTEM FILES
# -----------------------------------------------------------------------------

.DS_Store
Icon

# -----------------------------------------------------------------------------
# IDE
# -----------------------------------------------------------------------------

# Jetbrains
.idea/

# -----------------------------------------------------------------------------
# CLIENT
# -----------------------------------------------------------------------------

client/node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
client/src/assets/styles/.sass-cache/
client/src/assets/styles/*.css
client/src/assets/styles/*.map

# -----------------------------------------------------------------------------
# SERVER
# -----------------------------------------------------------------------------

server/node_modules/
server/config.json