# -----------------------------------------------------------------------------
# SYSTEM FILES
# -----------------------------------------------------------------------------

.DS_Store
Icon

# -----------------------------------------------------------------------------
# IDE
# -----------------------------------------------------------------------------

# Jetbrains
.idea/