input[type="checkbox"] {
  display: none;

  & + label {
    position: relative;
    display: inline-block;
    line-height: 22px;
    padding-left: 32px;
    margin: 4px 20px 4px 0;
  }

  & + label:before {
    content: '';
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    border: 2px solid $lightgrey;
    border-radius: 3px;
    background: $white;
  }

  &:checked + label:after {
    content: '';
    position: absolute;
    display: block;
    top: 6px;
    left: 6px;
    width: 10px;
    height: 5px;
    border-bottom: 2px solid $black;
    border-left: 2px solid $black;
    transform: rotate(-45deg);
  }
}
